<!DOCTYPE html>
<html lang="en">
<!-- head -->
@@include('./component/head.p.html',{ "title" : "Travel - ISVLSI 2018", "parentRel": "@@webRoot" })

<body>
    <!-- Navigation : navbar -->
    @@include('./component/navbar.p.html',{ "parentRel": "@@webRoot", "page": "travel" })
    <!-- Page Content -->
    <section class="container">
        <h1 class="mt-4 mb-4">Travel</h1>
        <div class="row" id="venue-info">
            <div class="col-12">
                <h3>Venue</h3>
            </div>
            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="col-12">
                        <p>The ISVLSI 2018 will be held during July 9-11 at</p>
                        <h5 class="text-center">
                            <strong>The Hong Kong Polytechnic University (PolyU)</strong><br>
                            Hong Kong SAR, China
                          </h5>
                        <p class="text-justify">The university campus of PolyU is located in Hung Hom, Kowloon, on a 9.46-hectare site adjacent to the Cross Harbour Tunnel. In addition to classrooms, laboratories and academic facilities, the campus offers sport, recreational facilities and other facilities including multi-purpose auditorium and Industrial Centre. A full range of campus services including restaurants, bookstore and banks are also provided. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="text-center">
                            <a class="btn btn-md btn-success" target="_blank" href="https://www.polyu.edu.hk/fmo/eMap/map.php"> Campus Map <i class="fa fa-external-link fa-1x" aria-hidden="true"></i></a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-11 col-md-4 mx-auto my-auto">
                <img class="img-fluid d-block" src="@@webRoot/img/venue/PolyU/PolyU_1.jpg" alt="" />
            </div>
        </div>
        <!-- Images -->
        <div class="row mt-2">
            {% for i in Array(6) %}
            <div class="col-6 col-sm-4 col-md-2 mb-3"><img class="img-fluid rounded d-block" src="@@webRoot/img/venue/PolyU/campus{{loop.index}}.jpg" alt="">
            </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row mb-4">
            <div class="col-12">
                <h3>Getting to PolyU</h3>
                <p>Located at the centre of the city, PolyU is easily accessible by various means of public transport. Typical choices:</p>
            </div>
            <div class="col-12 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <h4 class="card-header">MTR (Subway)</h4>
                    <div class="card-body">Est. Travel Time: 50 min </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><img src="@@webRoot/img/venue/mtr_icon.png" height="15px"/> Airport Station</li>
                        <li class="list-group-item"><i class="fa fa-arrow-down" aria-hidden="true"></i> <span style="background-color:#00888A;" class="text-white">&nbsp Airport Express &nbsp</span> Line / <span style="background-color:#00888A;" class="text-white">&nbsp 機場快線 &nbsp</span> </li>
                        <li class="list-group-item"><img src="@@webRoot/img/venue/mtr_icon.png" height="15px"/> Tsing Yi Station / 青衣站</li>
                        <li class="list-group-item"><i class="fa fa-arrow-down" aria-hidden="true"></i> <span style="background-color:#F7943E;" class="text-white">&nbsp Tung Chung Line &nbsp</span> /  <span style="background-color:#F7943E;" class="text-white">&nbsp 東涌綫 &nbsp</span> </li>
                        <li class="list-group-item"><img src="@@webRoot/img/venue/mtr_icon.png" height="15px"/> Nam Cheong Station / 南昌站</li>
                        <li class="list-group-item"><i class="fa fa-arrow-down" aria-hidden="true"></i> <span style="background-color:#A6228E;" class="text-white">&nbspWest Rail Line &nbsp</span> / <span style="background-color:#A6228E;" class="text-white">&nbsp 西鐵綫 &nbsp</span> </li>
                        <li class="list-group-item"><img src="@@webRoot/img/venue/mtr_icon.png" height="15px"/> Hung Hom Station / 紅磡 </li>
                        <li class="list-group-item"><i class="fa fa-external-link-square" aria-hidden="true"></i> Exit A1 </li>
                        <li class="list-group-item"><i class="fa fa-road" aria-hidden="true"></i> Take the footbridge and arrive in 5 min</li>
                        <li class="list-group-item">
                            <a href="https://goo.gl/maps/hK5H892PZ592" class="btn btn-primary" target="_blank">View on map</a>                                      
                        </li>
                    </ul>
                </div></div>
                <div class="col-12 col-sm-6 portfolio-item">
                <div class="card mb-2">
                    <h4 class="card-header">Buses</h4>
                    <div class="card-body"><p>For public buses that run through the Cross Harbour Tunnel - get off at the stop at the entrance/exit of the Tunnel on the Kowloon side.</p><p>Details of bus routes are available from:</p></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center"><a href="http://www.kmb.hk/en/" target="_blank">Kowloon Motor Bus</a></li>
                        <li class="list-group-item text-center"><a href="http://www.nwstbus.com.hk/home/default.aspx?intLangID=1" target="_blank">Citybus and New World First Bus</a></li>
                    </ul>
                </div>
                <div class="card portfolio-item">
                    <h4 class="card-header">Taxis</h4>
                    <div class="card-body">Drop-off at the entrance on Cheong Wan Road.<br><br></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Est. Travel time: 30-40 min</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Google Map -->
    <!-- /.container -->
    <section class="container-fluid">
        <div class="row my-1" style="height: 46vh; background-color: #64c8ff">
            <div class="col-12 h-100" id="google-map">
                <div class="row h-100 text-center align-items-center">
                    <div class="col-12">
                        <h5>Loading Map ...</h5>
                        <p><small>If you cannot load the map, <br><br>
                            Click to directly <a class="text-primary" style="cursor: pointer;" onclick="directToGGMap()"><strong>View on Google Map</strong> -</a><br><br>
                            或 <a href="https://j.map.baidu.com/a3OlP" target="_blank">使用<b>百度地图</b>查看</a></small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- HK -->
    <section class="container mt-4" id="about-hk">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-9 my-auto">
                <h2>Hong Kong</h2>
            </div>
            <div class="col-9 col-sm-6 col-md-3 mx-auto my-2">
                <img class="img-fluid rounded d-block" src="@@webRoot/img/venue/hongkong/hk-banner.jpg" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-1">
                <p class="text-justify">Positioned at the mouth of the Pearl River Delta on the coast of southern China, Hong Kong’s geographical position as a gateway between the East and West has made it an attractive centre for international trade. As a reflection of this, the heart of Asia’s world city has always been the bustling and beautiful Victoria Harbour. Hong Kong’s 1,104-square-kilometer area comprises Hong Kong Island, which lies to the south of the harbour, the Kowloon Peninsula, which forms its northern shores, the New Territories to the north of Kowloon, which stretch all the way to Mainland China, and more than 200 outlying islands, including Lantau Island, where Hong Kong International Airport is located.
                    <br><a href="http://www.discoverhongkong.com/" target="_blank" class="btn btn-primary float-right">Learn More!</a></p>
            </div>
        </div>
        <div class="row align-items-center">
            {% for i in Array(6) %}
            <div class="col-6 col-sm-4 col-md-2 my-2">
                <img class="img-fluid rounded d-block" src="@@webRoot/img/venue/hongkong/hk{{loop.index}}.jpg" alt="">
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <div class="card h-100">
                    <!-- <img class="card-img-top" src="@@webRoot/img/venue/hongkong/hk_intl_airport_sm.jpg" alt="Hong Kong Airport"> -->
                    <div class="card-body">
                        <h4 class="card-title text-center">
                HK International Airport (Code: HKG)
              </h4>
                        <p class="card-text text-justify">Hong Kong is a key aviation hub serviced by more than 100 airlines that provide connections to major cities throughout the world. Your gateway to the city is the 24-hour Hong Kong International Airport, which is consistently ranked among the best airports in the world.</p>
                        <p class="card-text text-justify">It takes approximately 30-40 minutes by taxi or 1 hour via public transportation to reach from the airport to the conference venue.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 portfolio-item">
                <div class="card h-100">
                    <!-- <img class="card-img-top" src="@@webRoot/img/venue/hongkong/hk_intl_hotel_sm.jpg" alt="Hong Kong Airport"> -->
                    <div class="card-body">
                        <h4 class="card-title text-center">
                Accommodation
              </h4>
                        <p class="card-text text-justify">As an international tourist city, Hong Kong offers plenty of choices of accommodation.</p>
                        <p class="card-text">Some recommended hotels are listed <a href="#hotel">here</a>.</p>
                        <p class="card-text">More information will be provided in the future.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- FAQ -->
        <div class="row">
            <div class="col-12 col-sm-2 col-md-1 text-center">
                <h3>FAQ</h3>
            </div>
            <div class="col-12 col-sm-10 col-md-11 col-lg-10">
                <div class="mb-4" id="id-faq" role="tablist" aria-multiselectable="true">
                    {% for item in faq %}
                    <div class="card">
                        <div class="card-header" role="tab" id="id-faq-h-{{loop.index}}">
                            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#id-faq" href="#id-faq-a-{{loop.index}}" aria-expanded="false" aria-controls="id-faq-a-{{loop.index}}">
                <i class="fa fa-question-circle" aria-hidden="true"></i> {{item.q}}</a>
            </h5>
                        </div>
                        <div id="id-faq-a-{{loop.index}}" class="collapse" role="tabpanel" aria-labelledby="id-faq-h-{{loop.index}}">
                            <div class="card-body">
                                <p class="text-justify">{{item.ans|safe}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
    </section>
    <section class="container" id="hong-kong-visa">
        <div class="row">
            <div class="col-12">
                <h2 class="my-3">Visa Policy</h2>
                <p class="text-justify">As a Special Administrative Region of China, the visa policy of Hong Kong is <b>different from Mainland China</b>. Visitors from <b>most countries</b> can enter Hong Kong <b>without a visa</b> for periods of 7 to 180 days, depending on nationality. However, you are strongly recommended to <b>check with <a href="http://www.immd.gov.hk/eng/services/visas/visit-transit/visit-visa-entry-permit.html" target="_blank" >the Hong Kong Immigration Department</a></b> for details about visa requirements.</p>
                <p>We list the visa policy towards some countries/regions for your reference:<sup>*</sup></p>
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">You are from
                                <br>(Country/Region)</th>
                            <th scope="col">Requirement</th>
                            <th scope="col">Visa-free Stay</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in visainfo %}
                        <tr>
                            <td>{{item.region|safe}}</td>
                            <td>{% if item.requires == "" %}-{% else %}<i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{item.requires|safe}}</td>{% endif %}
                            <td>{{item.visafreedays}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <sup>* The information is gathered from the Hong Kong Immigration Department website and is subject to change without notice. You are strongly recommended to double <b>check with <a href="http://www.immd.gov.hk/eng/services/visas/visit-transit/visit-visa-entry-permit.html" target="_blank" >the Hong Kong Immigration Department</a></b>.</sup>
            </div>
            <hr>
            <div class="col-12 portfolio-item">
                <div class="card">
                    <!-- <img class="card-img-top" src="@@webRoot/img/venue/hongkong/hk_intl_hotel_sm.jpg" alt="Hong Kong Airport"> -->
                    <div class="card-body">
                        <h4>Visa Supporting Letter</h4>
                        <p class="card-text">If you do need a Visa supporting letter, please contact the registration chair, Prof. Weichen Liu (liu@ntu.edu.sg).</p>
                        <p class="card-text">In your email, please list your <b>contact information</b>. If you are an author, please specify your <b>paper title</b> as well. If any special format requirement of Visa support letter is required, please also tell us in the email.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="py-4 bg-dark" id="hotel">
        <div class="container text-white" id="specialsession">
            <h3>Accommodation</h3>
        </div>
    </div>
    <section class="container my-3">
        <div class="row">
            <div class="col-12">
                <p>Below are hotels that can reach to the conference venue (PolyU) in 10-min walking distance:</p>
            </div>
            <div class="col-12">
                <table class="table table-hover">
                    <!--  <thead>
                        <tr>
                            <th scope="col">Hotel</th>
                            <th scope="col">Affiliation</th>
                            <th scope="col">Track</th>
                        </tr>
                    </thead> -->
                    <tbody>
                        {% for h in hotels %}
                        <tr>
                            <td><i class="fa fa-bed fa-1x" aria-hidden="true"></i> <b>{{h.name}}</b></td>
                            <td><a class="" target="_blank" href="{{h.url}}">Details <i class="fa fa-external-link fa-1x" aria-hidden="true"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
                <div class="col-12">
                    <p class="text-center">More information will be provided soon.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    @@include('./component/footer.p.html',{ "parentRel": "@@webRoot" })
    <script>
    function initggMap() {

        var map_style = [{
                "elementType": "geometry",
                "stylers": [{
                    "color": "#ebe3cd"
                }]
            },
            {
                "elementType": "labels.text.fill",
                "stylers": [{
                    "color": "#523735"
                }]
            },
            {
                "elementType": "labels.text.stroke",
                "stylers": [{
                    "color": "#f5f1e6"
                }]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [{
                    "color": "#c9b2a6"
                }]
            },
            {
                "featureType": "administrative.land_parcel",
                "elementType": "labels",
                "stylers": [{
                    "visibility": "off"
                }]
            },
            {
                "featureType": "administrative.land_parcel",
                "elementType": "labels.text.fill",
                "stylers": [{
                    "color": "#ae9e90"
                }]
            },
            {
                "featureType": "landscape.natural",
                "stylers": [{
                    "visibility": "simplified"
                }]
            },
            {
                "featureType": "landscape.natural",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#dfd2ae"
                }]
            },
            {
                "featureType": "landscape.natural.terrain",
                "stylers": [{
                    "visibility": "off"
                }]
            },
            {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#dfd2ae"
                }]
            },
            {
                "featureType": "poi",
                "elementType": "labels.text",
                "stylers": [{
                    "visibility": "off"
                }]
            },
            {
                "featureType": "poi",
                "elementType": "labels.text.fill",
                "stylers": [{
                    "color": "#93817c"
                }]
            },
            {
                "featureType": "poi.attraction",
                "elementType": "labels",
                "stylers": [{
                    "visibility": "on"
                }]
            },
            {
                "featureType": "poi.business",
                "stylers": [{
                    "visibility": "off"
                }]
            },
            {
                "featureType": "poi.school",
                "stylers": [{
                    "visibility": "on"
                }]
            },
            {
                "featureType": "poi.school",
                "elementType": "labels",
                "stylers": [{
                    "visibility": "on"
                }]
            },
            {
                "featureType": "poi.school",
                "elementType": "labels.icon",
                "stylers": [{
                    "visibility": "on"
                }]
            },
            {
                "featureType": "poi.school",
                "elementType": "labels.text",
                "stylers": [{
                    "visibility": "on"
                }]
            },
            {
                "featureType": "poi.school",
                "elementType": "labels.text.fill",
                "stylers": [{
                    "color": "#447530"
                }, {
                    "visibility": "on"
                }]
            },
            {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#f5f1e6"
                }]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#fdfcf8"
                }]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#f8c967"
                }]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [{
                    "color": "#e9bc62"
                }]
            },
            {
                "featureType": "road.local",
                "elementType": "labels",
                "stylers": [{
                    "visibility": "off"
                }]
            },
            {
                "featureType": "transit.line",
                "stylers": [{
                    "visibility": "on"
                }]
            },
            {
                "featureType": "transit.line",
                "elementType": "geometry",
                "stylers": [{
                    "color": "#9568c6"
                }, {
                    "weight": 2
                }]
            },
            {
                "featureType": "transit.station.airport",
                "elementType": "geometry",
                "stylers": [{
                    "visibility": "on"
                }]
            },
            {
                "featureType": "transit.station.airport",
                "elementType": "geometry.fill",
                "stylers": [{
                    "color": "#6ab54a"
                }]
            },
            {
                "featureType": "transit.station.airport",
                "elementType": "labels",
                "stylers": [{
                    "visibility": "on"
                }]
            },
            {
                "featureType": "water",
                "elementType": "geometry.fill",
                "stylers": [{
                    "color": "#64c8ff"
                }]
            },
            {
                "featureType": "water",
                "elementType": "labels.text.fill",
                "stylers": [{
                    "color": "#92998d"
                }]
            }
        ];
        var PolyU_loc = new google.maps.LatLng(22.3028, 114.1786);

        var map = new google.maps.Map(document.getElementById('google-map'), {
            center: PolyU_loc,
            zoom: 14,
            styles: map_style,
            mapTypeId: 'roadmap',
            mapTypeControl: false,
            streetViewControl: false
        });

        var venue_marker = new google.maps.Marker({
            position: PolyU_loc,
            map: map,
            label: 'V'
        });
        var infowindow = new google.maps.InfoWindow({
            content: '<div></div><div class="mt-1 mr-1 text-center"><h6>Hong Kong PolyU </h6></div>'
        });
        infowindow.open(map, venue_marker);
        venue_marker.addListener('click', function() {
            infowindow.open(map, venue_marker);
        });

        var airport_loc = new google.maps.LatLng(22.31096, 113.91576);
        var airport_marker = new google.maps.Marker({
            position: airport_loc,
            clickable: false,
            map: map,
            icon: {
                path: google.maps.SymbolPath.CIRCLE,
                strokeColor: 'gold',
                strokeOpacity: 0.8,
                strokeWeight: 3,
                scale: 20
            },

            label: {
                fontFamily: 'Fontawesome',
                fontSize: '28px',
                text: '\uf072',
                color: '#fad735'
            }
        });
    }

    function directToGGMap() {
        if ((navigator.platform.indexOf("iPhone") != -1) ||
            (navigator.platform.indexOf("iPod") != -1) ||
            (navigator.platform.indexOf("iPad") != -1)) {
            protocal = 'maps';
        } else {
            protocal = 'http';
        }
        window.open(protocal + "://maps.google.com/maps?daddr=22.3028, 114.1786&amp;ll=");
    }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFsHWCKp0h5YZbDYOql16ZETPOCNDv2GU&callback=initggMap"></script>
</body>

</html>
