<!DOCTYPE html>
<html lang="en">
<!-- head -->
{% import "./component/page.macro" as macros %}
<head>
    {{ macros.common_head({title: "Program Schedule - ISVLSI 2018",  WebRoot: file.WebRoot}) }}
    <link rel="stylesheet" type="text/css" href="{{file.WebRoot}}/css/sched.css" />
</head>

<body>
    <!-- Navigation : navbar -->
    @@include('./component/navbar.p.html',{ "parentRel": "@@webRoot", "page": "program" })

    <section class="container">
        <h1 class="mt-4 mb-3">Program Schedule</h1>
        <div class="row">
            <div class="col-12">
                <img class="img-fluid mb-3" src="@@webRoot/img/sched.png" alt="Program Schedule">
                <small>Note: The sessions with (*) have Best Paper Candidates.</small>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <ul class="nav nav-tabs nav-justified" id="schd-main-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="schd-keynote-tab" data-toggle="tab" href="#schd-keynote" role="tab">
                            <h4>
                                <i class="fa fa-calendar"></i> Keynote</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="schd-plenary-tab" data-toggle="tab" href="#schd-plenary" role="tab">
                            <h4>
                                <i class="fa fa-calendar"></i> Plenary Talks</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="schd-sessions-tab" data-toggle="tab" href="#schd-sessions" role="tab">
                            <h4>
                                <i class="fa fa-calendar"></i> Program Schedule</h4>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="schd-main-panel">
                    <div class="tab-pane fade" id="schd-keynote" role="tabpanel">
                        {% for talk_id in page_keynote_list %}
                        <div class="card my-1">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-sm-3 col-lg-2 my-auto">
                                        <img class="img-fluid d-block mx-auto" style="max-height: 110px" src="@@webRoot/{{ talk_pool[talk_id].photo_path }}" alt="{{ talk_pool[talk_id].speaker }}" />
                                    </div>
                                    <div class="col-12 col-sm-9 col-lg-10">
                                        <h5>
                                            <b>{{ talk_pool[talk_id].title }}</b>
                                        </h5>
                                        <div class="row">
                                            <div class="col-12 col-lg-4 order-2 order-lg-1">
                                                <h5>{{ talk_pool[talk_id].speaker }}</h5>
                                            </div>
                                            <div class="col-12 col-lg-8 order-1 order-lg-2">
                                                Time: {{ talk_pool[talk_id].time }} | 
                                                Venue: {{ talk_pool[talk_id].venue }} | 
                                                <a href="@@webRoot/program/keynote.html#{{talk_id}}">Details</a>
                                            </div>
                                            <div class="col-12 order-3">
	                                            <small>{{ talk_pool[talk_id].affiliation|safe }}</small>
	                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="card-footer"></div> -->
                        </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="schd-plenary" role="tabpanel">
                        {% for talk_id in page_visionary_list %}
                        <div class="card my-1">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-sm-3 col-lg-2 my-auto">
                                        <img class="img-fluid d-block mx-auto" style="max-height: 110px" src="@@webRoot/{{ talk_pool[talk_id].photo_path }}" alt="{{ talk_pool[talk_id].speaker }}" />
                                    </div>
                                    <div class="col-12 col-sm-9 col-lg-10">
                                        <h5>
                                            <b>{{ talk_pool[talk_id].title }}</b>
                                        </h5>
                                        <div class="row">
                                            <div class="col-12 col-lg-4 order-2 order-lg-1">
                                                <h5>{{ talk_pool[talk_id].speaker }}</h5>
                                            </div>
                                            <div class="col-12 col-lg-8 order-1 order-lg-2">
                                                Time: {{ talk_pool[talk_id].time }} | 
                                                Venue: {{ talk_pool[talk_id].venue }} | 
                                                <a href="@@webRoot/program/keynote.html#{{talk_id}}">Details</a>
                                            </div>
                                            <div class="col-12 order-3">
	                                            <small>{{ talk_pool[talk_id].affiliation|safe }}</small>
	                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="card-footer"></div> -->
                        </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade show active" id="schd-sessions" role="tabpanel">
                        <p class="invisible">[Hidden] Program Schedule.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% include "./program/detailed_sched.htmlpart" with {} only %}
            </div>
            <div class="col-12">
                <p class="mt-4">
                    <small>Best paper candidates are denoted with &ldquo;*&rdquo; ahead of their titles.</small>
                </p>
            </div>
        </div>
    </section>
    <!-- List Start -->
    <!--   -->
    <hr>
    <!--  Ending -->
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto my-2">
                <div class="card text-center bg-warning">
                    <div class="card-block">
                        <h6 class="card-subtitle my-2 font-italic">Note: The schedule may be subject to change.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container ****************************** -->
    <!--     <div class="py-4 bg-dark">
        <div class="container text-white" id="specialsession">
            <h3>seprator</h3>
        </div>
    </div>
 -->
    <!-- /.container -->
    <div class="my-3"></div>
    <!-- Footer -->
    @@include('./component/footer.p.html',{ "parentRel": "@@webRoot" })
</body>

</html>
