<div class="col-12">
                        <h3>General Chairs</h3>
                    </div>
                    
     <div class="col-2 col-sm-1 text-center">
            <i class="fa fa-black-tie fa-3x bg-color-isvlsi-1" aria-hidden="true"></i></div>
        <div class="col-10 col-sm-5">
        <p><strong>Wei Zhang</strong>
               <br>Hong Kong Univ. of Science and Technology</p>
         </div>
     <div class="col-2 col-sm-1 text-center">
            <i class="fa fa-black-tie fa-3x bg-color-isvlsi-1" aria-hidden="true"></i></div>
        <div class="col-10 col-sm-5">
        <p><strong>Jason Xue</strong>
               <br>City Univ. of Hong Kong</p>
         </div>
     <div class="col-2 col-sm-1 text-center">
            <i class="fa fa-black-tie fa-3x bg-color-isvlsi-1" aria-hidden="true"></i></div>
        <div class="col-10 col-sm-5">
        <p><strong>Zili Shao</strong>
               <br>Hong Kong Polytechnic Univ</p>
         </div>

<div class="col-12"><hr/></div>
<div class="col-12">
                        <h3>TPC Chairs</h3>
                    </div>
                    
     <div class="col-2 col-sm-1 text-center">
            <i class="fa fa-black-tie fa-3x color-isvlsi-2" aria-hidden="true"></i></div>
        <div class="col-10 col-sm-5">
        <p><strong>Hai Li</strong>
               <br>Duke University, USA</p>
         </div>
     <div class="col-2 col-sm-1 text-center">
            <i class="fa fa-black-tie fa-3x color-isvlsi-2" aria-hidden="true"></i></div>
        <div class="col-10 col-sm-5">
        <p><strong>Yu Wang</strong>
               <br>Tsinghua University, China</p>
         </div>
     <div class="col-2 col-sm-1 text-center">
            <i class="fa fa-black-tie fa-3x color-isvlsi-2" aria-hidden="true"></i></div>
        <div class="col-10 col-sm-5">
        <p><strong>Wujie Wen</strong>
               <br>Florida International University, USA</p>
         </div>

<div class="col-12"><hr/></div>
<div class="col-12">
                        <h3>Special Session Chairs</h3>
                    </div>
                    <div class="col-2 col-sm-1 text-center">
            <i class="fa fa-code-fork fa-3x color-isvlsi-3" aria-hidden="true"></i></div>
        <div class="col-10 col-sm-5">
        <p><strong>Bei Yu</strong>
               <br>The Chinese Univ. of Hong Kong</p>
         </div><div class="col-2 col-sm-1 text-center">
            <i class="fa fa-code-fork fa-3x color-isvlsi-3" aria-hidden="true"></i></div>
        <div class="col-10 col-sm-5">
        <p><strong>Yuan-Hao Chang</strong>
               <br>Academia Sinica, Taiwan</p>
         </div>

<div class="col-12"><hr/></div>
<div class="col-12">
                        <h3>Web Chair</h3>
                    </div>
                    <div class="col-2 col-sm-1 text-center">
     <i class="fa fa-desktop fa-2x" aria-hidden="true"></i></div>
 <div class="col-10 col-sm-5">
 <p><strong>Theocharis Theocharides</strong>
        <br>University of Cyprus, Cyprus</p>
  </div>

<div class="col-12"><hr/></div>
<div class="col-12">
                        <h3>PhD Forum Chair</h3>
                    </div>
                    <div class="col-2 col-sm-1 text-center">
    <i class="fa fa-graduation-cap fa-2x " aria-hidden="true"></i></div>
<div class="col-10 col-sm-5">
<p><strong>Aida Todri-Sanial</strong>
       <br>CNRS-LIRMM, France</p>
 </div>

<div class="col-12"><hr/></div>
<div class="col-12">
                        <h3>Publication Chairs</h3>
                    </div>
                    <div class="col-2 col-sm-1 text-center">
            <i class="fa fa-book fa-2x color-isvlsi-2" aria-hidden="true"></i></div>
        <div class="col-10 col-sm-5">
        <p><strong>Aida Todri-Sanial</strong>
               <br>CNRS-LIRMM, France</p>
         </div><div class="col-2 col-sm-1 text-center">
            <i class="fa fa-book fa-2x color-isvlsi-2" aria-hidden="true"></i></div>
        <div class="col-10 col-sm-5">
        <p><strong>Prasun Ghosal</strong>
               <br>Indian Institute of Engineering, Shibpur</p>
         </div>

<div class="col-12"><hr/></div>
<div class="col-12">
                        <h3>Publicity Chairs</h3>
                    </div>
                    <div class="col-2 col-sm-1 text-center">
        <i class="fa fa-wifi fa-2x color-isvlsi-blue" aria-hidden="true"></i></div>
    <div class="col-10 col-sm-5">
    <p><strong>Guangyu Sun</strong>
           <br>Peking University, China</p>
     </div><div class="col-2 col-sm-1 text-center">
        <i class="fa fa-wifi fa-2x color-isvlsi-blue" aria-hidden="true"></i></div>
    <div class="col-10 col-sm-5">
    <p><strong>Muhammad Shafique</strong>
           <br>Vienna University of Technology, Austria</p>
     </div><div class="col-2 col-sm-1 text-center">
        <i class="fa fa-wifi fa-2x color-isvlsi-blue" aria-hidden="true"></i></div>
    <div class="col-10 col-sm-5">
    <p><strong>Jingtong Hu</strong>
           <br>University of Pittsburg, USA</p>
     </div><div class="col-2 col-sm-1 text-center">
        <i class="fa fa-wifi fa-2x color-isvlsi-blue" aria-hidden="true"></i></div>
    <div class="col-10 col-sm-5">
    <p><strong>Masaaki Kondo</strong>
           <br>The University of Tokyo, Japan</p>
     </div><div class="col-2 col-sm-1 text-center">
        <i class="fa fa-wifi fa-2x color-isvlsi-blue" aria-hidden="true"></i></div>
    <div class="col-10 col-sm-5">
    <p><strong>Chun-Yi Lee</strong>
           <br>National Tsinghua University, Taiwan</p>
     </div>

<div class="col-12"><hr/></div>
<div class="col-12">
                        <h3>Financial Chair</h3>
                    </div>
                    <div class="col-2 col-sm-1 text-center">
    <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i></div>
<div class="col-10 col-sm-5">
<p><strong>Duo Liu</strong>
       <br>Chongqing University, China</p>
 </div>

<div class="col-12"><hr/></div>
<div class="col-12">
                        <h3>Registration Chair</h3>
                    </div>
                    <div class="col-2 col-sm-1 text-center">
    <i class="fa fa-registered fa-2x" aria-hidden="true"></i></div>
<div class="col-10 col-sm-5">
<p><strong>Weichen Liu</strong>
       <br>Nanyang Technological University, Singapore</p>
 </div>

<div class="col-12"><hr/></div>
<div class="col-12">
                        <h3>Local Arrangement Chairs</h3>
                    </div>
                    <div class="col-2 col-sm-1 text-center">
    <i class="fa fa-street-view  fa-2x" aria-hidden="true"></i></div>
<div class="col-10 col-sm-5">
<p><strong>Nan Guan</strong>
       <br>Hong Kong Polytechnic University</p>
 </div><div class="col-2 col-sm-1 text-center">
    <i class="fa fa-street-view  fa-2x" aria-hidden="true"></i></div>
<div class="col-10 col-sm-5">
<p><strong>Ray Chak-Chung Cheung</strong>
       <br>City University of Hong Kong</p>
 </div>

<div class="col-12"><hr/></div>
<div class="col-12">
                        <h3>Steering Committee</h3>
                    </div>
                    <div class="col-2 col-sm-1 text-center">
    <i class="fa fa-tachometer fa-2x" aria-hidden="true"></i></div>
<div class="col-10 col-sm-5">
<p><strong><em>Chair></em> Jürgen Becker</strong>
       <br>Karlsruhe Institute of Technology, Germany</p>
 </div><div class="col-2 col-sm-1 text-center">
    <i class="fa fa-tachometer fa-2x" aria-hidden="true"></i></div>
<div class="col-10 col-sm-5">
<p><strong><em>Vice-Chair></em> Saraju P. Mohanty</strong>
       <br>University of North Texas, USA</p>
 </div>

    <div class="col-11 col-md-6 col-lg-4">
        <p><strong>Hai (Helen) Li</strong>
         <br>University of Pittsburgh, USA</p>
    </div>
 
    <div class="col-11 col-md-6 col-lg-4">
        <p><strong>Lionel Torres</strong>
         <br>University of Montpellier, France</p>
    </div>
 
    <div class="col-11 col-md-6 col-lg-4">
        <p><strong>Michael Hübner</strong>
         <br>Ruhr-University of Bochum, Germany</p>
    </div>
 
    <div class="col-11 col-md-6 col-lg-4">
        <p><strong>Nikos Voros</strong>
         <br>Technological Educational Institute of Western Greece</p>
    </div>
 
    <div class="col-11 col-md-6 col-lg-4">
        <p><strong>Ricardo Reis</strong>
         <br>Universidade Federal do Rio Grande do Sul, Brazil</p>
    </div>
 
    <div class="col-11 col-md-6 col-lg-4">
        <p><strong>Sandip Kundu</strong>
         <br>University of Massachusetts, Amherst, USA</p>
    </div>
 
    <div class="col-11 col-md-6 col-lg-4">
        <p><strong>Sanjukta Bhanja</strong>
         <br>University of South Florida, USA</p>
    </div>
 
    <div class="col-11 col-md-6 col-lg-4">
        <p><strong>Susmita Sur-Kolay</strong>
         <br>Indian Statistical Institute, Kolkata, India</p>
    </div>
 
    <div class="col-11 col-md-6 col-lg-4">
        <p><strong>Vijaykrishnan Narayanan</strong>
         <br>Pennsylvanian State University, USA</p>
    </div>
 