<header>
        <div id="carousel-indicator" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-indicator" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-indicator" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('@@parentRel/img/hk2.jpg')">
                    <div class="carousel-caption d-md-block">
                        <h3 class="carousel-text-shadow-h"><strong>IEEE Computer Society Annual Symposium on VLSI</strong></h3>
                        <p class="carousel-text-shadow-t">July 9-11, 2018 | Hong Kong SAR, China</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('@@parentRel/img/vlsi.jpg')">
                    <div class="carousel-caption d-md-block">
                        <a class="btn btn-lg btn-primary" href="@@parentRel/submission.html">CALL FOR PAPERS</a>
                        <p></p>
                        <!-- #TODO : responsive line break -->
                        <p class="carousel-text-shadow-t"><strong>Paper Submission Deadline: February 23, 2018</strong></p>
                        <p class="carousel-text-shadow-t"><strong>Special Session Proposal Deadline: March 2, 2018</strong></p>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-indicator" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
                <a class="carousel-control-next" href="#carousel-indicator" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
            </div>
    </header>