<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="@@parentRel/index.html">ISVLSI 2018</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-respond" aria-controls="navbar-respond" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-respond">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="@@if(page==='index'){active }nav-link" href="@@parentRel/index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="@@if(page==='program'){active }nav-link dropdown-toggle" href="#" id="navbarDropdown-prog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Program</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown-prog">
                        <a class="dropdown-item" href="@@parentRel/program/keynote.html">Keynote</a>
                        <a class="dropdown-item" href="@@parentRel/program/schedule.html">Program Schedule</a>
                        <a class="dropdown-item" href="@@parentRel/program/social.html">Social Events</a>
                    	<div class="dropdown-divider"></div>
                    	<h6 class="dropdown-header">Coming soon...</h6>
                        <!-- <a class="dropdown-item disabled" href="@@parentRel/">Registration</a> -->
                        
                        <a class="dropdown-item disabled" href="@@parentRel/submission.html#studentforum">Student Research Forum</a>
                    </div>
                </li>
                <!-- <li class="nav-item">
                    <a class="@@if(page==='blg1'){active }nav-link" href="@@parentRel/news/blg1.html">test</a>
                </li> -->
<!--                 <li class="nav-item dropdown">
                    <a class="@@if(page==='submission'){active }nav-link dropdown-toggle" href="#" id="navbarDropdown-submit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Submission</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown-submit">
                        <a class="dropdown-item" href="@@parentRel/submission.html">Call For Papers</a>
                        <a class="dropdown-item" href="@@parentRel/submission.html#specialsession">Special Session Proposal</a>
                        <a class="dropdown-item" href="@@parentRel/submission.html#studentforum">Student Research Forum</a>
                    </div>
                </li> -->

                <li class="nav-item dropdown">
                    <a class="@@if(page==='travel'){active} nav-link dropdown-toggle" href="#" id="navbarDropdown-travel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Travel</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown-travel">
                        <a class="dropdown-item" href="@@parentRel/travel.html">Venue</a>
                        <a class="dropdown-item" href="@@parentRel/travel.html#about-hk">Hong Kong</a>
                        <a class="dropdown-item" href="@@parentRel/travel.html#hong-kong-visa">About Visa</a>
                        <a class="dropdown-item" href="@@parentRel/travel.html#hotel">Accommodation</a>
                    </div>
                </li>
<!--                 <li class="nav-item">
                    <a class="@@if(page==='travel'){active }nav-link" href="@@parentRel/travel.html">Travel</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="@@if(page==='about'){active }nav-link dropdown-toggle" href="#" id="navbarDropdown-about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown-about">
                        <!-- <a class="dropdown-item" href="@@parentRel/about.html">Committee</a> -->
                        <a class="dropdown-item" href="@@parentRel/about_pastconf.html">Past Conferences</a>
                        <a class="dropdown-item" href="@@parentRel/about_sisconf.html">Sister Conferences</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="@@if(page==='committee'){active }nav-link" href="@@parentRel/about.html">Committee</a>
                </li>
                <li class="nav-item">
                    <a class="@@if(page==='submission'){active }nav-link" href="@@parentRel/submission.html">Submission</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="@@if(page==='submission'){active }nav-link" href="@@parentRel/registration.html">Registration</a>
                </li> -->
            </ul>
            <a class="btn btn-success @@if(page==='register'){active}" href="@@parentRel/registration.html">Registration</a>
        </div>
        
    </div>
</nav>

<!--  -->
